p{
                font-family: Roboto,Arial;
                margin-top: 0px;
                margin-bottom: 0px;
            }
body{
    margin:0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color:rgb(248, 248, 248);
   
}
a {
  text-decoration: none; /* Removes the underline */
  outline: none;         /* Removes the faint border when clicked */
  color: inherit;        /* Keeps colors from changing */
}

img {
  display: block;        /* Removes the tiny gap at the bottom of images */
  border: none;          /* Removes borders in older browsers */
}