
.header{
    height:55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    top:0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style:solid ;
    border-bottom-color: rgba(228,228,228);
    z-index: 100;
}
.left-section{
    
    
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo{
    height: 20px;
}
.middle-section{
  
    margin-left:70px ;
    margin-right: 35px;
    flex:1;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.right-section{
    display: flex;
    width:180px;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink:0 ;

}
.search-button{
    height: 40px;
    width: 60px;
    background-color:rgba(240,240,240);
    border-width: 1px;
    border-style:solid;
    border-color: rgb(192, 192, 192) ;
    margin-left: -1px;
    margin-right: 10px;

}
.search-icon{
    height: 25px;
    width: 40px;
    margin-top: 4px;
}
.voice-button{
    height: 40px;
    width: 40px;
    border-radius:20px ;
    background-color: rgb(245, 245, 245);
    border: none;

}
.voice{
    height: 24px;
    margin-top: 4px;
    
}
.search-bar{
    flex: 1; /* This tells the search bar to take up all available space in the middle */
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
  
}
.search::placeholder{
    font-family: Roboto,Arial;
    font-size: 1px;
}
.upload-icon{
    height: 24px;

}
.youtube-apps-icon{
    height: 24px;
   
}
.notification-icon{
    height: 24px;

}
.user-icon{
    height: 32px;
    border-radius: 16px;

}